.about-us{
  // height: 400vh;
  background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat top -15.5rem right;
  padding: 13.5rem 2rem;
  text-align: center;

  .section-header{
    // padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .underline{
      width: 15rem;
      height: 0.1rem;
      background-color: $dark-grayish-violet;
    }

    h1{
      font-family: 'DM Serif Display', sans-serif;
      font-size: 4.6rem;
      margin: 3.4rem 0 2rem;
      font-weight: 400;
    }
  }

  .services{
    @include flexCenter(column);
    margin-bottom: 12.5rem;

    .service{
      @include flexCenter(column);
      width:90%;
      height: 25rem;
      margin: 3.5rem 0 2rem;

      .icon{
        margin: 3.5rem;
      }

      h3{
        font-family: 'DM Serif Display', sans-serif;
        font-size: 2.7rem;
        color: $dark-violet;
        margin-bottom: 1.5rem;
        font-weight: 400;
      }

      p{
        font-size: 1.6rem;
        color:$dark-grayish-violet;
        line-height: 2.7rem;
        font-family: 'Karla', sans-serif;
        width: 107%
      }
    }
  }

  .inner-box{
    @include flexCenter(column);
    // width: 100%;
    height: 34.5rem;
    margin: 0.3rem;
    background: $dark-violet url(../images/bg-pattern-how-we-work-mobile.svg) no-repeat top right;
    color: #fff;
    font-family: 'DM Display Serif', sans-serif;
    
    h1{
      font-size: 3.9rem;
      margin-bottom: 4rem;
      font-family: 'DM Serif Display', sans-serif;
      font-weight: 400;
      line-height: 1;
    }

    button{
      border: 0.1rem solid #fff;
      width: 48%;
      color: #fff;
      padding: 1.1rem ;
      background:transparent;
      font-family: 'Karla', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      font-size: 1.4rem;
    }
  }
}

