.banner{
  font-family: 'DM Serif Display', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction:column;

  .banner-img{
    width: 100%;
    height: 45.18rem;

    img{
      object-fit: cover;
      width: 100%;
      height: inherit;
    }
  }

  .banner-text{
    padding: 5rem 0rem;
    background: url(../images/bg-pattern-intro-left-mobile.svg)no-repeat, url(../images/bg-pattern-intro-right-mobile.svg) no-repeat, $dark-violet;
    background-position: top left, bottom -17.6rem right;
    height: 89vh;
    width: 100%;
    color: #fff;display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
      font-size: 4.7rem;
      font-weight:400;
      text-align: center;
      margin-bottom: 1rem;
      width: 89%;
      line-height: 4.8rem;
      max-width: 35rem;
    }

    p{
      font-family:'Karla', sans-serif;
      line-height: 2.6rem;
      text-align: center;
      margin-bottom: 3rem;
      width: 86%;
      max-width: 55rem;
    }

    button{
      border: 0.1rem solid #fff;
      width: 40%;
      max-width: 15rem;
      color: #fff;
      padding: 1.2rem ;
      background:transparent;
      font-family: 'Karla', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }
}